!!! 5
%html
  %head
  = javascript_include_tag 'message'
  %body
  %div.chat-layout
    = render 'shared/side_bar'
    %div.chat-main
      %div.chat-header
        %div.chat-header--left
          %h2
            = @group.name
          %p.chat-header__members
            Members:
            - @group.users.each do |user|
              = user.name
        %div.chat-header--right
          = link_to edit_group_path(@group) do
            %div.chat-header__edit-btn Edit
      %div.chat-body
        %ul.chat-messages
          = render @messages
      %div.chat-footer
        = form_for [@group, @message], html: { class: 'chat-footer__body' } do |f|
          = f.text_area :content, placeholder: 'type a message'
          = f.label :image, class: 'chat-footer__file' do
            = fa_icon 'picture-o'
            = f.file_field :image
          = f.submit 'Send'
