!!! 5
%html
  %head
  %body
  %div.chat-layout
    %div.chat-side
      %div.chat-user
        %h5
          = current_user.name
        %div.chat-user__actions
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
      %div.chat-groups
        - @groups.each do |group|
          = render 'group', group: group
    %div.chat-main
      %div.chat-header
        %div.chat-header--left
          %h2 サンプルグループ
          %p.chat-header__members Members: yuki yuji
        %div.chat-header--right
          %a
            %div.chat-header__edit-btn Edit
      %div.chat-body
        %ul.chat-messages
          - @messages.each do |message|
            = render 'message', message: message
      %div.chat-footer
        %form.chat-footer__body
          %textarea{placeholder: 'type a message', name: 'message-body', row: 1}
          %label.chat-footer__file
            %input{type: 'file', name: 'message-image'}
              %i.fa.fa-image
          %input{type: 'submit', name: 'send', value: 'Send'}
